{% set image = image|default('') %}
{% set image_alt = image_alt|default('') %}
{% set title = title|default('') %}
{% set subtitle = subtitle|default('') %}
{% set description = description|default('') %}

<div class=" bg-white">
	<a href="{{ path('app_actuality_detail', { 'id': article.id }) }}" class="rounded-2xl border border-greenDark p-4 flex space-x-4 w-96">
		<div>
			<img src="data:image/jpeg;base64,{{ image }}" alt="{{ image_alt }}" class="rounded-2xl w-36 h-44 lg:h-48 object-cover"/>
		</div>
		<div class="space-y-3">
			<h3 class="font-rawles text-lg">{{ title }}</h3>
			<p class="font-monsterrat text-xs">{# subtitle #}</p>
			<p class="font-monsterrat text-xs">{{ description|length > 100 ? description|slice(0, 100) ~ '...' : description }}</p>
		</div>
	</a>
</div>
