{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	<form method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				You are logged in as
				{{ app.user.userIdentifier }},
				<a href="{{ path('app_logout') }}">Logout</a>
			</div>
		{% endif %}

		<div class="space-y-12 flex flex-col justify-center h-[calc(100vh-112px)] items-center">
			<div class="flex justify-center items-center">
				<img src="../images/logo/logo.png" alt="Logo EcoGrow" class="rounded-2xl h-28 lg:h-48 object-fit"/>
			</div>
			
			<div class="flex flex-col items-center space-y-5 font-monsterrat text-md">
				<div class="text-sm">
					<h2 class="h3 mb-3 font-weight-normal font-rawles text-4xl">Connectez-vous</h2>
				</div>
				{% include 'components/forms/textFormSimple.html.twig' with {
						'label' : "Nom d'utilisateur",
						'placeholder' : "Nom d'utilisateur",
						'type' : "username",
						'value' : last_username,
						'name' : "_username",
						'id' : "username",
						'autocomplete' : "username",
				} %}
				{% include 'components/forms/textFormSimple.html.twig' with {
						'label' : "Mot de passe",
						'placeholder' : "Mot de passe",
						'type' : "password",
						'name' : "_password",
						'id' : "password",
						'autocomplete' : "current-password",
				} %}
			</div>
			
			<div class="flex flex-col items-center space-y-4 font-monsterrat text-xl">
				<a href="{{ path('app_register') }}">Créer un compte</a>
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				{% include 'components/buttons/buttonSubmit.html.twig' with {
					'placeholder': "Se connecter",} %}
				{#
					Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
					See https://symfony.com/doc/current/security/remember_me.html
			
					<div class="checkbox mb-3">
						<input type="checkbox" name="_remember_me" id="_remember_me">
						<label for="_remember_me">Remember me</label>
					</div>
				#}
			</div>
		</div>

	</form>
{% endblock %}
{# <label for="username">Username</label>
		        <input type="text" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="username" required autofocus> #}
{# <label for="password">Password</label>
		<input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required> #}
{# <button class="btn btn-lg btn-primary" type="submit">
			Sign in
		</button> #}
