{% set label = label|default('') %}
{% set placeholder = placeholder|default('') %}
{% set type = type|default('') %}
{% set value = value|default('') %}
{% set name = name|default('') %}
{% set id = id|default('') %}
{% set autocomplete = autocomplete|default('') %}

<div class="space-y-3.5">
	<p class="ml-1 text-black">{{label}}</p>
	<div class="px-5 py-3.5 border-2 border-greenDark rounded-2xl w-72 h-11 flex content-center">
		<input type="{{type}}" value="{{ value }}" name="{{name}}" id="{{id}}" autocomplete="{{autocomplete}}" required autofocus placeholder="{{placeholder}}" class="w-full outline-none form-control bg-white">
	</div>
</div>
