{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil
{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}
	<div class="space-y-6 mt-6">

		{% form_theme ProfilEdit 'components/forms/custom_formErrors.html.twig' %}

		{{ form_errors(ProfilEdit) }}
		{{ form_start(ProfilEdit) }}
		<div class="flex flex-col items-center space-y-5 font-monsterrat">
			<div class="text-sm">
				<div
					class="flex flex-col items-center space-y-4">
					<!-- Conteneur pour l'aperçu de l'image sélectionnée -->
					<div class="mt-4 w-32 h-32 rounded-full overflow-hidden border-2 border-green-500 bg-gray-100 flex items-center justify-center">
						<img id="imagePreview" src="#" alt="Aperçu" class="hidden w-full h-full object-cover"/>
					</div>
					<!-- Input caché et label stylisé en tant que bouton -->
					{{ form_widget(ProfilEdit.profilePicture, { 'attr': { 'class': 'hidden', 'onchange': 'previewImage(event)' } }) }}
					<label for="{{ ProfilEdit.profilePicture.vars.id }}" class="inline-flex items-center px-6 py-3 bg-greenMint text-black font-semibold rounded-lg shadow-lg cursor-pointer hover:bg-green-600 transition duration-200 ease-in-out">
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5 mr-2">
							<path stroke-linecap="round" stroke-linejoin="round" d="M12 5v14m7-7H5"/>
						</svg>
						Choisir une photo de profil
					</label>
				</div>

				<script>
					function previewImage(event) {
const input = event.target;
const preview = document.getElementById('imagePreview');

if (input.files && input.files[0]) {
const reader = new FileReader();

reader.onload = function (e) {
preview.src = e.target.result;
preview.classList.remove('hidden'); // Affiche l'image
};

reader.readAsDataURL(input.files[0]); // Charge l'image
}
}
				</script>

			</div>
			{% include 'components/forms/textForm.html.twig' with {
            'field': ProfilEdit.nom,
            'placeholder': "Nom",
        } %}
			{% include 'components/forms/textForm.html.twig' with {
            'field': ProfilEdit.prenom,
            'placeholder': "Prénom",
        } %}
			{% include 'components/forms/textForm.html.twig' with {
            'field': ProfilEdit.username,
            'placeholder': "Nom d'utilisateur",
        } %}
			{% include 'components/forms/textForm.html.twig' with {
            'field': ProfilEdit.email,
            'label': "Email",
            'placeholder': "Email",
        } %}
			<div class="space-y-2 text-sm pt-6 justify-items-center">
				<a class="text-sm underline" href="{{ path('app_forgot_password_request') }}">Changer le mot de passe</a>
				{% include 'components/buttons/buttonSubmit.html.twig' with {
                'placeholder': "Sauvegarder",
                'backgroundColor': "bg-greenLight",
            } %}
			</div>
			{{ form_end(ProfilEdit) }}
		</div>
	</div>
{% endblock %}
