<div style="display: inline-flex; align-items: center; white-space: nowrap;">
    <!-- Profil -->
    <div class="profile" style="gap: 15px";>
        <img src="{{ asset('images/default-profil/pepe-lunettes-doree.jpg') }}" alt="Profil" class="rounded-circle" width="50" height="40">
    </div>

    <!-- Classement -->
    <div class="badge" style="display: inline-flex; align-items: center; margin-right: 10px; background-color: #1D3932; padding: 8px 12px; border-radius: 8px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); color: #fff; gap: 15px;">
        <span>1er</span>
        <span class="ms-2">
            <i class="bi bi-trophy-fill"></i>
            <img src="{{ asset('images/icons/couronne.png') }}" alt="Billets" width="24" height="24">

        </span>
    </div>

    <!-- Points -->
    <div class="badge" style="display: inline-flex; align-items: center; margin-right: 10px; background-color: #5C913B; padding: 8px 12px; border-radius: 8px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); color: #fff; gap: 15px;">
        <span>340</span>
        <span class="ms-2">
            <i class="bi bi-tv-fill"></i>
            <img src="{{ asset('images/icons/billets.png') }}" alt="Billets" width="24" height="24">
        </span>
    </div>

    <!-- Objectif -->
    <div class="badge" style="display: inline-flex; align-items: center; background-color: #D3E9E2; padding: 8px 12px; border-radius: 8px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); color: #fff; gap: 15px;">
        <span>2/3</span>
        <span class="ms-2">
            <i class="bi bi-check-circle-fill"></i> 
            <img src="{{ asset('images/icons/target.png') }}" alt="Billets" width="24" height="24">
        </span>
    </div>

    <div class="notif" style="gap: 15px";>
        <img src="{{ asset('images/icons/cloche.png') }}" alt="Profil" class="rounded-circle" width="40" height="40";>
    </div>

</div>