{% set image = image|default('') %}
{% set image_alt = image_alt|default('') %}
{% set title = title|default('') %}
{% set desc = desc|default('ma desc de base') %}
{% set titleColor = titleColor|default('text-greenDark') %}

<div class="">
	<h2 class="{{ titleColor }}">{{title}}</h2>
	<p>{{desc}}</p>
	<img src="{{ image }}" alt="{{ image_alt }}" class="rounded-2xl w-72 h-32 lg:h-48 object-cover"/>
</div>
